<div
  class="card-body p-4"
  draggable="true"
  ondragstart="event.dataTransfer.setData('text/plain', '{{ book._id }}')"
>
  {% if book.cover %}
    <img class="w-full h-64 object-cover" src="{{ book.cover }}" alt="{{ book.title }}">
  {% endif %}

{% if book.cover %}
  <img src="{{ book.cover }}" alt="{{ book.title }}" class="w-full h-64 object-cover" />
{% endif %}

  {% if book.authors %}
    <p>{{ book.authors|join(', ') }}</p>
  {% endif %}
</div>

<!-- temporarily experimenting with a slop factory :( dw i am only doing this for now... I have ALOT of stuff, so sorry y'all!-->